.idea
demo/compiler/makelinux64/.deps
demo/compiler/makelinux64/build
examples/cmake-build-debug
bindings/cmake-build-debug
bindings/build
*.swp
*.swo
*.swn

bindings/examples/tmp
bindings/examples/*.avi
bindings/examples/*/
